<div class="main-body">
  <mat-form-field class="filter">
    <mat-label>Search</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. User Name"
      #input
    />
  </mat-form-field>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="taskNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Task Number</th>
        <td mat-cell *matCellDef="let row">{{ row.taskNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="taskDescription">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Task Description
        </th>
        <td mat-cell *matCellDef="let row">{{ row.taskDescription }}</td>
      </ng-container>

      <ng-container matColumnDef="assign">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Assign</th>
        <td mat-cell *matCellDef="let row">{{ row.assign }}</td>
      </ng-container>

      <ng-container matColumnDef="startingDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Starting Date</th>
        <td mat-cell *matCellDef="let row">{{ row.startingDate | date }}</td>
      </ng-container>

      <ng-container matColumnDef="estimateDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estimate Date</th>
        <td mat-cell *matCellDef="let row">{{ row.estimateDate | date }}</td>
      </ng-container>

      <ng-container matColumnDef="taskStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Task Status</th>
        <td mat-cell *matCellDef="let row">{{ row.taskStatus }}</td>
      </ng-container>

      <ng-container matColumnDef="sprint">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sprint</th>
        <td mat-cell *matCellDef="let row">{{ row.sprint }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
