<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Login Page</mat-toolbar>
    <form
      action=""
      (ngSubmit)="login()"
      fxLayoutAlign="stretch"
      fxLayout="column"
      class="login-form"
    >
      <mat-form-field>
        <input
          type="text"
          id="userName"
          name="userName"
          [(ngModel)]="user.userName"
          matInput
          placeholder="User Name"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="password"
          id="userPassword"
          name="userPassword"
          [(ngModel)]="user.userPassword"
          placeholder="Password"
          required
        />
      </mat-form-field>

      <button mat-raised-button type="submit">Login</button>
    </form>
  </mat-card>
</div>
