<div mat-dialog-title><h1>Task Form</h1></div>
<form [formGroup]="createForm" (ngSubmit)="submit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Task Description</mat-label>
        <input
          matInput
          type="textarea"
          placeholder="Task description"
          formControlName="taskDescription"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Task Number</mat-label>
        <input
          matInput
          type="text"
          placeholder="Task Number"
          formControlName="taskNumber"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>User Assign</mat-label>
        <mat-select formControlName="assign">
          <mat-option *ngFor="let val of user" [value]="val"
            >{{ val }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Starting Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="startingDate"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Estimate date</mat-label>
        <input
          matInput
          [matDatepicker]="picker1"
          formControlName="estimateDate"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Task Status</mat-label>
        <mat-select formControlName="taskStatus">
          <mat-option *ngFor="let val of status" [value]="val">
            {{ val }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Sprint</mat-label>
        <input
          matInput
          type="text"
          placeholder="Sprint"
          formControlName="sprint"
        />
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions class="action">
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">
      {{ data ? "Update" : "Save" }}
    </button>
  </div>
</form>
